<% content_for(:title) { t(".title") } %>
<% content_for(:auth_illustration) { "girl-and-computer.svg" } %>
<% @hide_flash_alert = true %>

<% content_for :form_block do %>
  <div class="mb-6">
    <h1 class="mb-2 text-2xl font-extrabold leading-tight tracking-tight text-heading"><%= t(".heading") %></h1>
    <p class="text-body-subtle"><%= t(".description") %></p>
  </div>

  <% if flash[:alert].present? %>
    <p class="mb-4 text-sm text-fg-danger"><%= flash[:alert] %></p>
  <% end %>

  <%= form_with(model: resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-4 space-y-4 sm:mt-6 sm:space-y-6" }, data: modal_turbo_frame_data) do |f| %>
    <div>
      <%= f.label :email, class: "block mb-2 text-sm font-medium text-heading" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: true, required: true, class: "bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body" %>
    </div>

    <%= f.button button_text(t(".send_instructions"), disable_with: t(".sending")), class: "w-full text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:outline-none focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 text-center" %>
  <% end %>

  <div class="text-sm">
    <%= link_to t("devise.shared.links.sign_in"), new_session_path(resource_name), data: modal_turbo_frame_data, class: "font-medium text-fg-brand hover:underline" %>
  </div>
<% end %>

<%= render "devise/shared/form_block" %>
